*{
    color:azure;
    font-family: Helvetica;
    text-transform: capitalize;
}

body{
    background-color: rgb(95, 94, 94);
    background-image: linear-gradient(143deg, rgba(104,100,184,1) 0%, rgba(57,56,66,1) 36%, rgba(0,0,0,1) 66%, rgba(166,96,96,1) 100%);
    min-height: 700px;
    margin: 0;
}


header {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
    top:0px;
    left: 0px;
}
header h1{
    font-style: italic;
    font-size: 35pt;
    padding: 0.5cm 0;
    margin: 0;
    border: 0;
    text-align: center;
    vertical-align:middle;
    user-select: none;
    animation: titulo 3s infinite;
}

@keyframes titulo {
    0%, 100% {text-shadow: -2px -2px red;}
    25%      {text-shadow: 2px -2px rgb(0, 238, 255);}
    50%      {text-shadow: 2px 2px blue;}
    70%      {text-shadow: -2px 2px rgb(0, 238, 255);}
}

/*contenedores*/

div.favorito{
    position: relative;
}

.favorito{
    width: 5cm;
    height: 5cm;
}

.favorito img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    -webkit-user-drag: none;
    object-fit: cover;
    object-position: center;
}

.favorito h4{
    position: relative;
    top: -0.8cm;
    left: 0.2cm;
    margin:0;
    color: azure;
    user-select: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    text-shadow: 1px 1px rgb(119, 119, 119);
}

.cuadricula{
    list-style: none;
    padding: 0;
    margin: 0.2cm;
    box-sizing: border-box;
}

.cuadricula li{
    display: inline-block;
    padding: 4pt;
}



.favdesc {
    background-color: #535a7275;
    margin: 0;
    padding: 6px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s linear 0s;
}

div.favdesc:hover{
    opacity: 100%;
    cursor: pointer;
}

.favdesc h4{
    position: relative;
    top:0.3cm;
    width:max-content;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#popUpContainer{
    position:absolute;
    top:0;
    left:0;
}

div.popupfondo{
    background-color: rgba(0, 0, 0, 0.336);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

div.popup{
    background-color: white;
    width:600px;
    height: 500px;
    position:relative;
    top:60px;
    margin:auto;
    padding: 1cm;
    padding-top:0;
    box-sizing: border-box;
}

div.xButton{
    background-color: white;
    text-align: center;
    width:min-content;
    height: min-content;
    padding: 0.2cm 0.5cm;
    color: black;
    font-style: oblique;
    transition: all 0.5s;
    position:absolute;
    right: 0;
    top: 0 ;
    user-select: none;
}

div.xButton:hover{
    background-color: rgb(255, 77, 77);
    color: white;
    cursor:pointer;
}